<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.cloudx_small_tools.mapper.TestMapper">
    <select id="getQuery" resultType="com.example.cloudx_small_tools.po.QueryConfiguration">
        SELECT * FROM query_configuration;
    </select>
</mapper>